# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
npm-debug.log*

/venv
/.idea/
/twitter_viewer/static/
/main_app__ui/build
/main_app__ui/node_modules

db.sqlite3
__pychache__/
*.pyc
.eslintcache