.loginForm{
}
.formContainer{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.formField{
    margin: 10px 0 0;
    text-align: center;
}
.header{
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}
.formError{
    color: red;
    text-align: center;
}
.headerContainer{

}
.formButton {
    margin-top: 40px;
}